.os-form-section{
    width:100%;
    position:relative;
    width: 100%;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    background-color: #fafafb;
}

.os-form-section-title{
    text-align: center;
}

.os-form-section-question-wrapper,
.greyed-out-form-section-question-wrapper {
    position: relative;
    border-radius: 5px;
    padding: 13px 40px 10px 20px;
    color:black;
    cursor: pointer;
}

.os-form-section-question-wrapper > h4,
.greyed-out-form-section-question-wrapper > h4{
    display: inline-block;
    font-weight:400;
    font-size:1.2em;
    margin-right:20px;
    margin-top:0px;
    margin-bottom:0px;
    vertical-align: bottom;
}

.os-form-section-question-wrapper > h4 > p,
.greyed-out-form-section-question-wrapper > h4 > p{
    margin-bottom: 0;
}

.os-form-section-arrow-wrapper{
    height: 100%;
    position: absolute;
    right: 23px;
    top: 0;
    display: flex;
    align-items: center;
}

.os-form-section .os-form-section-arrow{
    transition: transform 300ms ease;
}

.os-form-section-question-wrapper.active .os-form-section-arrow{
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.os-form-section-answer-panel{
    width:100% !important;
    overflow:hidden;
    display:none;
    padding: 20px 40px 20px 20px;
    border-top:#ebebeb solid 1px;
}

.os-form-section-button-wrapper{
    display: block;
    text-align: center;
}

.os-form-section-preview{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 450px;
    margin-top:20px;
    margin-bottom:20px;
}

.important-section{
    border: 2px solid transparent;
}
.important-section.warning{
    border-color:#fa9833;
}
.important-section.good{
    border-color:#669efc;
}

.greyed-out-form-section{
    width:100%;
    position:relative;
    width: 100%;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    background-color: #fafafb;
}

.greyed-out-form-section-bg{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%234359ff' fill-opacity='0.44' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    opacity:0.85;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
}

.greyed-out-premium-tag{
    position: absolute;
    top: 10px;
    right: 10px;
    margin-top: 0px;
    z-index: 2;
    background-color: #669efc;
    font-size: 0.7em;
    padding: 7px;
    padding-top: 10px;
    color: white;
    text-transform: uppercase;
    border-radius: 50px;
}
